VITE_FORMSPREE_ENDPOINT=
VITE_PROFILE_NAME=
VITE_CONTACT_EMAIL=
VITE_CONTACT_PHONE_DISPLAY=
VITE_CONTACT_PHONE_LINK=
VITE_CONTACT_LOCATION=
VITE_GITHUB_URL=
VITE_GITHUB_LABEL=
VITE_LINKEDIN_URL=
VITE_LINKEDIN_LABEL=
